@import 'definitions';

#menu-content {
	text-align: right;
	height: 100%;
	position: absolute;
	top: 80px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

#social-content {
	position: absolute;
	width: 300px;
	height: 100%;
	top: 80px;
	right: -300px;
	border-left: 1px solid darken(@color-slate, 5%);
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}