@import 'definitions';

#sidebar-menu {
	position: absolute;
	top: 80px;
	bottom: 0;
	background: @color-slate;
	text-align: right;
	z-index: 1;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

#sidebar-menu > .trips-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

#sidebar-menu > .trips-container > .stats-bar {
	width: 100%;
	height: 160px;
	background: url(../../img/trips-splash.jpg) center center no-repeat;
	background-size: cover;
}

#sidebar-menu > .trips-container > .all-trips {
	padding: 40px;
	width: 100%;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box {
	color: @color-dark;
	width: 180px;
	height: 180px;
	float: left;
	margin: 20px;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip {
	background: darken(@color-slate, 3%);
	width: 160px;
	height: 160px;
	margin: 20px;
	border: 1px solid darken(@color-slate, 5%);
	position: relative;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip > .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip > .overlay > div {
	font-size: 22px;
	text-align: center;
	line-height: 80px;
	display: none;
	height: 80px;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip > .overlay > .select {
	background: fade(@color-green, 60%);
	width: 100%;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip > .overlay > .edit {
	background: fade(@color-orange, 60%);
	float: left;
	width: 80px;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > .trip > .overlay > .delete {
	background: fade(@color-red, 60%);
	float: right;
	width: 80px;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > #create-trip {
	transition: background-color 0.5s ease, color 0.5s ease;
	font-size: 64px;
	text-align: center;
	line-height: 160px;
	font-weight: 600;
	font-family: @font-body;
}

#sidebar-menu > .trips-container > .all-trips > .trip-box > #create-trip:hover {
	transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
	background: @color-green;
	border-color: darken(@color-green, 5%);
}

#sidebar-menu > .create-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

#sidebar-menu > .create-container > #create-trip-form {
	width: 350px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -175px;
	position: relative;
}

#sidebar-menu > .create-container > #create-trip-form > .header {
	height: 99px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid @color-green;
	line-height: 99px;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: @color-olive;
}

#sidebar-menu > .create-container > #create-trip-form > #trip-creation {
	margin: 40px auto;
}

#sidebar-menu > .create-container > #create-trip-form > .flash {
	background: @color-red;
	color: @color-slate;
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
	height: 40px;
}

button {
	height: 60px;
	border: none;
	line-height: 60px;
	padding: 0;
	width: 100%;
	outline: none !important;
	box-shadow: none;
	color: @color-slate;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s ease;
}

button.danger {
	background: @color-red;
}

button.danger:disabled {
	background: lighten(@color-red, 20%);
	transition: background-color 0.5s ease;
}

button.danger:hover:enabled {
	background: @color-red - #090909;
}

button:hover:enabled {
	transition: background-color 0.5s ease;
	background: @color-green - #090909;
}

#sidebar-menu > .delete-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

#sidebar-menu > .delete-container > #delete-trip {
	width: 350px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -175px;
	position: relative;
	text-align: left;
}

#sidebar-menu > .delete-container > #delete-trip > .header {
	height: 99px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid @color-green;
	line-height: 99px;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: @color-olive;
}

#sidebar-menu > .delete-container > #delete-trip > .deletion-confirmation {
	margin-top: 20px;
}

#sidebar-menu > .search-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

#sidebar-menu > .search-container > .search-input {
	height: 80px;
	width: 100%;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#sidebar-menu > .search-container > .search-input > input {
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid darken(@color-slate, 5%);
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	font-family: @font-body;
	outline: none !important;
	box-shadow: none;
}
