@import 'definitions';

#sidebar-menu {
	position: absolute;
	top: 80px;
	bottom: 0;
	background: @color-slate;
	text-align: right;
	z-index: 1;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
}