@import 'definitions';

#trips-menu {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: @color-slate;
}

#trips-menu > .trips-statistics {
	width: 100%;
	height: 160px;
	position: relative;
	top: 0;
	left: 0;
	background: url(../../img/trips-splash.png) center center no-repeat;
	background-size: cover;
}

#trips-menu > .trips-container {
	padding: 40px;
}

#trips-menu > .trips-container > #create-new-trip {
	width: 160px;
	height: 160px;
	color: @color-dark;
	background: darken(@color-slate, 5%);
	transition: color 0.5s ease, background-color 0.5s ease;
	font-weight: 600;
	font-size: 72px;
	line-height: 160px;
	text-align: center;
}

#trips-menu > .trips-container > #create-new-trip:hover {
	color: @color-slate;
	background: @color-green-bright;
	transition: color 0.5s ease, background-color 0.5s ease;
}

#create-trip-dialog {
	z-index: 7;
	position: relative;
	top: 0;
	left: 10000px;
	background: @color-slate;
}

#create-trip-dialog > #create-trip-form {
	width: 600px;
	height: 400px;
	margin: 0px auto;
	position: relative;
	margin-top: 80px;
}

#create-trip-dialog > #create-trip-form > .header {
	height: 99px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid @color-green;
	line-height: 99px;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	color: @color-olive;
}