@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,300,600,700);
/* 
 * Common definitions
 */
/*flat colours*/
.location-search {
  font-family: 'Open Sans', sans-serif;
  margin: 24px;
}
#location-search-input {
  background: #fefdf8;
  border: 1px solid #ecebe6;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.location-search-results {
  top: 96px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow-y: hidden;
  margin: 0px 24px;
}
.location-search-results-entry {
  background: #fefef9;
  margin: 5px 0px;
  border: 1px solid #ecece7;
  height: 58px;
}
.place_image {
  float: left;
  height: 56px;
  width: 58px;
}
.place_text {
  width: 237px;
  height: 100%;
  float: left;
}
.place_name {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 10px;
}
.place_address {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 10px;
}
.place_type {
  height: 100%;
  width: 5px;
  background: #472344;
  float: right;
}
