<div class="container">
	<div style="height: 100px"></div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="auth-container col-md-4">
			<div class="auth-header">
				<img class="img-responsive" src="img/logo.png" alt="Intripd Logo" style="margin: 0 auto;"/>
			</div>
			<button id="login-local" class="btn btn-success btn-block">Login with Email</button>
			<button id="login-local" class="btn btn-block login-facebook" disabled="disabled">Login with Facebook</button>
			<button id="login-local" class="btn btn-block login-twitter" disabled="disabled">Login with Twitter</button>
			<button id="login-local" class="btn btn-block login-google" disabled="disabled">Login with Google</button>
			{{outlet}}
		</div>
	</div>
</div>