{{#if debug}}
	<p>{{name}}</p>
	<p>{{view.name}}</p>
{{/if}}

	<div class='search-input'>
		{{input type='text' placeholder='Begin typing to search...' value=waypointSearch id='waypoint_search_input'}}
	</div>
	<div class='search-results'>
	</div>