	<div class='search-input'>
		{{input type='text' placeholder='Begin typing to search...' value=waypointSearch id='waypoint_search_input'}}
		<div class='toggle'>
			<span class='fontello-address' style='float: left;'></span>{{input id='search_global_toggle' class='tgl tgl-light' type='checkbox' checked=searchScope}}
			<label class='tgl-btn' for='search_global_toggle'></label><span class='fontello-globe' style='float: right;'></span>
		</div>
	</div>
	<div class='search-results'>
		<div class='venues'>
			{{#each result in results}}
				{{view App.SidebarSearchResultView contentBinding='result'}}
			{{/each}}
		</div>
		<!-- pending searches overlay -->
		<div class='loading-overlay gradient'>
			<div class='cell'>
				<div class='loader'>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class='info'><b>Getting Results...</b></div>
			</div>
		</div>
	</div>