
	<section id='trips-menu'>
		<div class='trips-statistics'>
		</div>
		<div class='trips-container'>
			<div id='create-new-trip' {{action 'initCreate'}}>
			+
			</div>
		</div>
	</section>
	<section id='create-trip-dialog'>
		{{render 'sidebar.trips.create'}}
	</section>