@import 'definitions';

#menu {
	width: 350px;
	height: 100%;
	background: @color-slate;
	position: absolute;
	top: 0;
	z-index: 97;
	left: -251px;
	overflow: hidden;
}

/**************************
/* User Menu
**************************/

.user-content {
	background: url(../../img/user-bg.png) top left no-repeat;
	width: 100%;
	height: 600px;
	padding-left: 20px;
	padding-top: 168px;
}

.user-image {
	border-radius: 32px;
	border: 4px solid @color-slate;
	background: @color-dark;
	width: 64px;
	height: 64px;
	float: left;
}

.user-name {
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: @color-slate;
	font-weight: 300;
	font-size: 16px;
	margin: 5px 10px;
}