<div id='cookies' class='gradient'>We use cookies to deliver our services.  We assume you are happy with this, or you can {{#link-to 'policies.cookies'}}change your settings{{/link-to}} at any time. - {{#link-to 'policies.cookies'}}More Information{{/link-to}} <button style='width: 80px; font-size: 14px;' id='close-cookies' {{action 'closeCookieNotification'}}>OK</button></div>
{{outlet}}