<div id='footer'>
	<div class='footer-panel'>
		<div class='container'>
			<div id='site-social' class='pull-left'>
				<h3>Get Social with Us.</h3>
				<a class='social-icon facebook' href='http://www.facebook.com/intripd' target='_blank'><span class='fontello-facebook'></span></a>
				<a class='social-icon twitter' href='http://www.twitter.com/intripd' target='_blank'><span class='fontello-twitter'></span></a>
				<a class='social-icon pinterest' href='http://www.pinterest.com/intripd' target='_blank'><span class='fontello-pinterest'></span></a>
			</div>
			<div id='site-info' class='pull-right' style='text-align: right;'>
				<h3>Got Questions?</h3>
				<h5>We'd love to hear from you: <a href='mailto:contact@intripd.com'>contact@intripd.com</a></h5>
				<h6> &copy; 2012 - <span id='thisyear'></span>. Intripd. All rights reserved.{{!--{{#link-to 'policies.tos'}}Terms{{/link-to}}--}} | {{#link-to 'policies.privacy'}}Privacy{{/link-to}} | {{#link-to 'policies.cookies'}}Cookies{{/link-to}}</h6>
				<sub>intripd-geneva-beta-1 | <span class='icon-html5'></span> <span class='icon-css3'></span></sub>
			</div>
		</div>
	</div>
</div>