<div id='footer'>
	<div class='footer-panel'>
		<div class='container'>
			<div class='pull-left'>
				<h3>Get Social with Us.</h3>
				<a href='http://www.facebook.com/intripd'><img src='img/facebook.jpg' alt='Facebook' height='48px' width='48px' /></a>
				<a href='http://www.twitter.com/intripd'><img src='img/twitter.jpg' alt='Twitter' height='48px' width='48px' /></a>
				<a href='http://www.pinterest.com/intripd'><img src='img/pinterest.png' alt='Pinterest' height='48px' width='48px' /></a>
			</div>
			<div id='site-info' class='pull-right' style='text-align: right;'>
				<h3>Got Questions?</h3>
				<h5>We'd love to hear from you: <a href='mailto:contact@intripd.com'>contact@intripd.com</a></h5>
				<script type="text/javascript">
					var today = new Date();
					document.getElementById("thisyear").innerHTML = today.getFullYear();
    			</script>
				<h6> &copy; 2012 - <span id='thisyear'></span>. Intripd. All rights reserved. | {{#link-to 'policies.tos'}}Terms{{/link-to}} | {{#link-to 'policies.privacy'}}Privacy{{/link-to}}</h6>
				<sub>intripd-geneva-beta-1 | <span class='icon-html5'></span> <span class='icon-css3'></span> <span class='icon-git'></span></sub>
			</div>
		</div>
	</div>
</div>