<div id='splash' class='section' data-type='background' data-speed='5'>
	{{render "menu"}}
	<div class='grab-line'>
		Plan, Share, Explore.
		<div class='splash-get-started'>Get Started</div>
	</div>
	<div id='splash-progress' class='next-panel' {{action 'shift' 'feature-1'}}><span class='chevron'></span></div>
</div>
<div id='feature-1'>
</div>
<div id='feature-2'>
</div>