<div id='splash' class='section' data-type='background' data-speed='5'>
	{{render "menu"}}
	<div class='grab-line'>
		Plan, Share, Explore.
		<div class='splash-get-started'>Get Started</div>
	</div>
	<div id='splash-progress' class='next-panel' {{action 'shift' 'feature-1'}}><span class='chevron'></span></div>
</div>
<div id='feature-1'>
	<div class='feature-content'>
		<div class='feature-content-text'>
			<div class='feature-content-header'>Exploring the world is meant to be shared.</div>
			<div class='feature-content-desc'></div>
		</div>
		<div class='feature-content-graphics'>
		</div>
	</div>
</div>
<div id='feature-2'>
</div>