<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="navbar-header">
    	{{#link-to 'index' class="navbar-brand"}}<img src='/img/site-logo.png' height='48px' alt='Intripd' />{{/link-to}}
  	</div>
  	<div id="nav-links">
	    <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          <li class='nav-link'>
            <a href='#' {{action 'logout'}}>
              <span class='entypo logout nav-icon'></span>  <span class='user-text-responsive'>Logout</span>
            </a>
          </li>
        {{else}}
      		<li class='nav-link'>
            {{#link-to "auth.login"}}
              <span class='entypo login nav-icon'></span> <span class='user-text-responsive'>Login</span>
            {{/link-to}}
          </li>
      		<li class='nav-link'>
            {{#link-to "auth.register"}}
              <span class='entypo add-user nav-icon'></span> Register
            {{/link-to}}
          </li>
        {{/if}}
	    </ul>
  	</div>
</nav>