{{render "menu"}}
		<div id="privacy-policy">	
			<div class="container">
				<h3>Privacy Policy</h3>
				<strong>Updated: 24th of March, 2014</strong>
				<p>At Intripd, the privacy of our users is our top priority.  The policy below explains how we collect, use and disclose information on INTRIPD.COM in terms of how you access and use our services.  This policy applies to both our main website (www.intripd.com), as well as our social networking services, being any page or application referred to as "Intripd" or "Intripd.com".</p>

				<h5>PERSONAL INFORMATION COLLECTION</h5>
				<p>We currently collect your personal information in two ways.  We will collect the email addresses of those who communicate with us via email, information entered into the service in a voluntary way (such as name, gender, date-of-birth), or through the use of feedback forms and registration forms.  This information is used to improve the content and quality of INTRIPD.COM and our services.  We will also collect anonymous agent information, such as Internet Protocol (IP) address, Operating System, Browser information, and your GPS/Location information (if you allow this feature).
				No information collected by us is provided or sold to other organisations for commercial purposes, except when we have your permission, or under the following circumstances:
					<li style="padding-left: 10px">When it is necessary to share information in order to investigate, prevent, or take action regarding to illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violation of Terms of Use, or otherwise required by law; and</li>
					<li style="padding-left: 10px">In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition, or in any other situation where personal information may be disclosed or transferred as one of our business assets.</li></p>

				<h5>HOW DO WE USE THE INFORMATION WE COLLECT?</h5>
					<p><li style="padding-left: 10px">For responding to emails, questions, comments, complaints, or to provide customer service;</li>
					<li style="padding-left: 10px">For sending confirmations, administrative messages, security alerts, and notifications to facilitate your use of, and our administration and operation of, our services;</li>
					<li style="padding-left: 10px">For connecting you with your friends (when instructed to by you);</li>
					<li style="padding-left: 10px">For notifying your connected friends of your actions (when instructed to by you);</li></p>

				<h5>HOW DO WE PROTECT YOUR INFORMATION?</h5>
				<p>We use industry standard techologies and procedures to help protect your personal information from unlawful or unauthorized access, accidental loss, destruction and damage and misuse.  However, please be aware that no security measures are perfect, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>

				<h5>COOKIES</h5>
				<p>We may also automatically collect certain information through the use of "cookies”. These are small files that your browser places on your computer. We may use both session cookies and persistent cookies to better understand how you interact with our services, to monitor aggregate usage by our users and web traffic routing on our services, and to improve our services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. We rely on cookies for the proper operation of our website; therefore if your browser is set to reject all cookies, INTRIPD and our services will not function properly. Users who refuse cookies assume all responsibility for any resulting loss of functionality.</p>

				<h5>OTHER SITES</h5>
				<p>On occasion, our services may link to other online content.  Any information you provide on those sites is provided directly to the owner of that site, and is subject to their privacy policy.  We take no responsibility for the privacy and security practices of other services.  (We won't be linking to any sites who have privacy policies we don't agree with, however).</p>

				<h5>CHILDREN</h5>
				<p>For users accessing our services in the United States of America, INTRIPD and our related services are not directed to children under the age of 13.  We do not knowingly collect any kind of personal information from children under 13 years of age.  If you are under 13, do not use INTRIPD and our services, and do not provide any personal information to us.  If we find that children under 13 have provided us with personal information, we will take appropriate steps to remove that person's information permenantly from our databases.</p>

				<h5>ACCESSING AND MODIFYING YOUR CONTENT</h5>
				<p>If you would like to delete information held about you and/or your account, you can contact us with a request to do so.  We will take the appropriate steps to delete your data, unless such data is required to be retained persuant to applicable laws, or to protect INTRIPD and our services' rights, property or interests.  Information stored in archives will be retained for our records.</p>

				<h5>QUESTIONS OR CONCERNS</h5>
				<p>If you have any questions or concerns about our Privacy policy, please send a message to contact@intripd.com.  We will make every effort to resolve your concerns.

				<h5>CHANGES TO THIS PRIVACY POLICY</h5>
				<p>INTRIPD may modify or update this Privacy Policy from time to time, so please review it periodically.  We may provide you additional forms of notice or updeas as appropriate under the circumstances.  Your continued use of INTRIPD and our services after any modification to this Privacy Policy will constitute your acceptance of such modification.<br /><br /></p>
			</div>
		</div>