
	<section id='sidebar'>
		<div id='logobox'>
			<img src='img/logo-white.png' width='32px' height='32px' />
		</div>
		<div class='menu-item' data-context='search'></div>
		<div class='menu-item' data-context='profile'></div>
		<div class='menu-item' data-context='trips'></div>
		<div class='menu-item' data-context='waypoints'></div>
		<div class='menu-item' data-context='media'></div>
		<div id='bottom-accent'></div>
	</section>