
	<section id='sidebar'>
		<div id='logobox'>
			<img src='img/logo-white.png' width='32px' height='32px' />
		</div>
		{{view App.SidebarMenutriggerView context='trips' icon='fontello-suitcase' width='full'}}
		{{view App.SidebarMenutriggerView context='search' icon='fontello-search' width='340'}}
	</section>
	<section id='sidebar-menu' class='menu-content'>
		{{view App.SidebarMenuView elementId='sidebar-menu-content'}}
	</section>