
	<div class='sidebar-logo'>
		<img src='img/logo-white.png' width='38px' height='38px' />
	</div>

	{{!-- Content goes here (menu items --}}
	{{view App.SidebarTriggerView menu_context='SidebarTrips' icon='fontello-search' width='400'}}
	{{view App.SidebarTriggerView menu_context='SidebarTrips' icon='fontello-map' width='full'}}
	{{view App.SidebarTriggerView menu_context='SidebarTrips' icon='fontello-location' width='400'}}
	{{view App.SidebarTriggerView menu_context='SidebarTrips' icon='fontello-camera' width='400'}}
	{{!-- Content end --}}
	<div class='sidebar-accent'></div>