
	<section id='topbar'>
		<div id='user-quickbar'>
			<!-- todo - social -->
			{{view App.TopbarMenutriggerView context='friends' icon='fontello-users' width='300'}}
			{{view App.TopbarUsertriggerView}}
			<div class='topbar-item-container'>
				<div class='fontello-logout topbar-icon' {{action 'logout' on='click'}}></div>
			</div>
		</div>
	</section>
	<section id='social-menu' class='menu-content'>
		{{view App.TopbarMenuView elementId='social-menu-content'}}
	</section>