
	<section id='topbar'>
		<div id='trip-quickbar'>
			Currently Viewing: <span>{{trip.name}}</span>
		</div>
		<div id='user-quickbar'>
			<!-- todo - social -->
			<div class='fontello-users topbar-icon pre' data-context='friends'></div>
			<!--<div class='fontello-mail topbar-icon pre'></div>-->
			<div class='user-info'>
				<div class='user-icon'></div>
				<div class='user-text'>{{profile.firstName}} {{profile.lastName}}</div>
			</div>
			<div class='fontello-logout topbar-icon' {{action 'logout'}}></div>
		</div>
	</section>
	<section id='social-content' data-value='content'>
		Social
	</section>