
	<section id='topbar'>
		<div id='trip-quickbar'>
			No Active Trip!
		</div>
		<div id='user-quickbar'>
			<!-- todo - social -->
			<!--<div class='entypo users topbar-icon pre' data-context='friends'></div>
			<div class='entypo mail topbar-icon pre'></div> -->
			<div class='user-info'>
				<div class='user-icon'></div>
				<div class='user-text'>{{profile.firstName}} {{profile.lastName}}</div>
			</div>
			<div class='entypo logout topbar-icon' {{action 'logout'}}></div>
		</div>
	</section>