<div id="profile-init" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">A Bit More Info...</h4>
      </div>
      <div class="modal-body">
        <p>In order to get started, we need a bit more information from you, so that we can set up your profile.</p>
        <form role='form' {{action 'updateInitialProfile' on='submit'}}>
          <div class="form-group auth-form-element-group">
            <label for="firstName" class="auth-form-label">First Name</label>
            {{input value=firstName class="form-control auth-input" placeholder="First Name" type="text"}}
          </div>
          <div class="form-group auth-form-element-group">
            <label for="lastName" class="auth-form-label">Last Name</label>
            {{input value=lastName type="text" class="form-control auth-input" placeholder="Last Name"}}
          </div>
          <div class="auth-text-override">
            <button type="submit" class="btn btn-success login-override" style="width: 100px;">Save</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->