<div id='splash'>
	<div class='darken gradient'>
		{{render menu}}
		<div class='container'>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="auth-container col-md-4">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="scripts/auth.js"></script>