<div id="splash" class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
		{{render menu}}
		<div class='grab-text'>
			Plan, Share, Explore.
		</div>
		<div class='next'>
			<a href='#feature-1'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-1'>
	<div class='feature-panel'>
		<div class='feature-text center'>
			<h2>Exploring the world is meant to be shared.</h2>
			<h5 style='padding-top: 15px;'>We are building a brand new way for you to create, manage and share your travel plans and adventures.  It's going to be stylish, powerful, and completely awesome.<br /><br />Interested? Let us show you what we're planning...</h5>
		</div>
		<div class='next-inverse'>
			<a href='#feature-2'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-2' class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
		<div class='feature-text panel-text light center'>
			<div class='row'>
				<div class='col-xs-7'>
					<h2 style='text-align: left;'>It's all about you.</h2>
					<h4 style='text-align: left;'>Tools to help your world go round.</h4>
					<h5 class='subtext' style='text-align: left;'>From the first city search to the last photo upload, Intripd makes managing your trips and vacations a breeze.  Keep tabs on every aspect of your planning, from hotel bookings to day trips, flight times to photo opportunities, and everything in between.</h5>
				</div>
				<div class='col-xs-5'>
					<img src='img/intripd-panel1-graphic.png' width='200px' height='200px' />
				</div>
			</div>
		</div>
		<div class='next'>
			<a href='#feature-3'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-3'>
	<div class='feature-panel'>
		<div class='feature-text center'>
			<h2>Do More.  Share More.</h2>
			<div class='row'>
				<div class='col-xs-4'>
					<h5>Extensive Location Search</h5>
					<img src='img/features-panel-graphic-1.png' width='176px' height='176px' />
					<h6>Making use of extensive geocaching and location database features, Intripd allows you to plan your trip down to the finest detail.</h6>
				</div>
				<div class='col-xs-4'>
					<h5>Powerful planning features</h5>
					<img src='img/features-panel-graphic-2.png' width='176px' height='176px' />
					<h6>Keep all of your notes secure and accessible in one place. Save flight details, hotel information, car hire, dates of interest, and customise map points with additional information.</h6>
				</div>
				<div class='col-xs-4'>
					<h5>Deep social integration</h5>
					<img src='img/features-panel-graphic-3.png' width='176px' height='176px' />
					<h6>Deep integration with popular social platforms. Track your social updates via Intripd, or post out to these networks through our interface.</h6>
				</div>
			</div>
		</div>
		<div class='next-inverse'>
			<a href='#feature-4'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-4'>
	<div class='feature-panel'>
		<div class='feature-text center'>
			<h2>Be Collaborative.</h2>
			<div class='row'>
				<div class='col-xs-1'></div>
				<div class='col-xs-6'>
					<h5 style='text-align: left;line-height: 26px;padding-top: 14px;'>Road Trip? No worries.
Intripd provides a unified interface for you and your travellers
that promotes collaborative planning. Share ideas, notes,
itinerary information and more, making planning in a group way more fun!</h5>
				</div>
				<div class='col-xs-4'>
					<img src='img/Collaborative-panel-graphic.png' height='150px' />
				</div>
			</div>
		</div>
		<div class='next-inverse'>
			<a href='#feature-5'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-5' class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
		<div class='feature-text panel-text light center' style='margin-top: -100px;'>
			<h3>Start your Journey</h3>
			<h5>We're almost ready. If you'd like to be one of the first to experience the new age of travel planning with Intripd, sign up now.</h5>
			<div class='row'>
				<div class='col-xs-1'></div>
				<div class='col-xs-8'>
					<input type='email' class='form-control' placeholder='Email Address' style='height: 40px;'></input>
				</div>
				<div class='col-xs-2'>
					<button class='btn btn-block btn-success'>Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class='footer-panel'>
		<div class='container'>
			<div class='pull-left'>
				<h3>Get Social with Us.</h3>
				<a href='http://www.facebook.com/intripd'><img src='img/facebook.jpg' alt='Facebook' height='48px' width='48px' /></a>
				<a href='http://www.twitter.com/intripd'><img src='img/twitter.jpg' alt='Twitter' height='48px' width='48px' /></a>
				<a href='http://www.pinterest.com/intripd'><img src='img/pinterest.png' alt='Pinterest' height='48px' width='48px' /></a>
			</div>
			<div id='site-info' class='pull-right' style='text-align: right;'>
				<h3>Got Questions?</h3>
				<h5>We'd love to hear from you: <a href='mailto:contact@intripd.com'>contact@intripd.com</a></h5>
				<script type="text/javascript">   
					var today = new Date();    
					document.getElementById("thisyear").innerHTML = today.getFullYear();
    			</script>
				<h6> &copy; 2012 - <div id='thisyear'></div>. Intripd. All rights reserved. | {{#link-to 'tos'}}Terms{{/link-to}} | {{#link-to 'privacy'}}Privacy{{/link-to}}</h6>
				<sub>intripd-geneva-pre5-#4c8b2fa | <i class='fa fa-html5'></i> & <i class='fa fa-css3'></i></sub>
			</div>
		</div>
	</div>
</footer>