<div id="splash" class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
		{{render menu}}
		<div class='grab-text'>
			Exploring the world is meant to be shared.
			<div class='sub-text'>
			We are building a brand new way for you to create, manage and share your travel plans and adventures. It's going to be stylish, powerful, and completely awesome.
			</div>
		</div>
		<div class='next' class="section" data-type="background" data-speed="10">
			<div class='next-text'>Interested? Let us show you what we're planning...</div>
			<a href='#feature-1'><i class='fa fa-chevron-down'></i></a>
		</div>
	</div>
</div>
<div id='feature-1'>
	<div class='feature-panel'>
	</div>
</div>
<div id='feature-2' class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
	</div>
</div>
<footer>
	<div class='footer-panel'>
		<div class='container'>
			<div class='pull-left'>
				<h3>Get Social with Us.</h3>
			</div>
			<div class='pull-right' style='text-align: right;'>
				<h3>Got Questions?</h3>
				<h5>We'd love to hear from you: <a href='mailto:contact@intripd.com'>contact@intripd.com</a></h5>
				<h6> &copy; 2012 - 2014. Intripd. All rights reserved. | {{#link-to 'tos'}}Terms{{/link-to}} | {{#link-to 'privacy'}}Privacy{{/link-to}}</h6>
				<sub>intripd-geneva-pre4-#31060cfc97 | <i class='fa fa-html5'></i> & <i class='fa fa-css3'></i></sub>
			</div>
		</div>
	</div>
</footer>