<div id="splash" class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
		{{render menu}}
		<div class='grab-text'>
			Plan, Share, Explore.
		</div>
		<div class='next'>
			<a href='#feature-1'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-1'>
	<div class='feature-panel'>
		<div class='feature-text center'>
			<h2>Exploring the world is meant to be shared.</h2>
			<h5>We are building a brand new way for you to create, manage and share your travel plans and adventures.  It's going to be stylish, powerful, and completely awesome.<br /><br />Interested? Let us show you what we're planning...</h5>
		</div>
		<div class='next-inverse'>
			<a href='#feature-2'>&#59236;</a>
		</div>
	</div>
</div>
<div id='feature-2' class="section" data-type="background" data-speed="5">
	<div class='darken gradient'>
	</div>
</div>
<footer>
	<div class='footer-panel'>
		<div class='container'>
			<div class='pull-left'>
				<h3>Get Social with Us.</h3>
				<a href='http://www.facebook.com/intripd'><img src='img/facebook.jpg' alt='Facebook' height='48px' width='48px' /></a>
				<a href='http://www.twitter.com/intripd'><img src='img/twitter.jpg' alt='Twitter' height='48px' width='48px' /></a>
				<a href='http://www.pinterest.com/intripd'><img src='img/pinterest.png' alt='Pinterest' height='48px' width='48px' /></a>
			</div>
			<div id='site-info' class='pull-right' style='text-align: right;'>
				<h3>Got Questions?</h3>
				<h5>We'd love to hear from you: <a href='mailto:contact@intripd.com'>contact@intripd.com</a></h5>
				<script type="text/javascript">   
					var today = new Date();    
					document.getElementById("thisyear").innerHTML = today.getFullYear();
    			</script>
				<h6> &copy; 2012 - <div id='thisyear'></div>. Intripd. All rights reserved. | {{#link-to 'tos'}}Terms{{/link-to}} | {{#link-to 'privacy'}}Privacy{{/link-to}}</h6>
				<sub>intripd-geneva-pre5-#4c8b2fa | <i class='fa fa-html5'></i> & <i class='fa fa-css3'></i></sub>
			</div>
		</div>
	</div>
</footer>