<nav class="navbar navbar-default navbar-static-top gradient" role="navigation">
	<div class="navbar-header">
    	{{#link-to 'index' class="navbar-brand"}}<img src='img/site-logo.png' height='48px' alt='Intripd' />{{/link-to}}
  	</div>
  	<div id="nav-links">
	    <ul class="nav navbar-nav navbar-right">
	    	{{#if isAuthenticated}}
	    		<li class='nav-link'>
	    			<div class='small-user-img'>
	    				<img style='margin-left: -1px;margin-top: -5px;'src='img/user.png' width='20px' height='20px' /></div>
	    				<div class='user-text'>
	    					<div class='user-text-reverse-flux'>|&nbsp;&nbsp;</div>
	    					<div class='user-text-responsive'>Welcome back,&nbsp;</div>
	    					<div class='user-text-flux'>
	    						<b>{{profile.firstName}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;
	    					</div>
	    					{{#link-to "map"}}
	    						<div class='user-text-element'>
	    							<i class='fa fa-map-marker'></i>
	    						</div>
	    						<div class='user-text-responsive'>
	    							<b>&nbsp;App</b>
	    						</div>
	    					{{/link-to}}
	    					<a class='link' href='#' {{action 'logout'}}>
	    						<div class='user-text-element'>&nbsp;&nbsp;|&nbsp;&nbsp;
	    							<i class='fa fa-power-off'></i>
	    						</div>
	    						<div class='user-text-responsive'>&nbsp;Logout</div>
	    					</a>
	    				</div>
	    			</li>
	    		<div class='click-to-go'>
					<img src='img/click-me.png' alt='click' />
				</div>
	      	{{else}}
	      		<li class='nav-link'>{{#link-to "auth.login" class='user-text'}}<i class='fa fa-user'></i> <div class='user-text-responsive'><b>Login</b></div>{{/link-to}}</li>
	      		<li class='nav-link user-text' style='padding-right:15px !important;'> | </li>
	      		<li class='nav-link'>{{#link-to "auth.register" class='user-text'}}<i class='fa fa-edit'></i> <b>Register</b>{{/link-to}}</li>
	      	{{/if}}
	    </ul>
  	</div>
</nav>