<div id='nb-vert'>
	<ul>
		<li data-menu='search'>
			<img src='img/search.png' width='24px' alt='Search' />
		</li>
		<li data-menu='user'>
			<img src='img/profile.png' width='24px' alt='Profile' />
		</li>
		<li data-menu='trips'>
			<img src='img/trips.png' width='24px' alt='Trips' />
		</li>
		<li data-menu='waypoint'>
		</li>
		<li data-menu='media'>
		</li>
	</ul>
	<div class='static'>
		<img src='img/logo.png' width='24px' alt='Intripd' />
	</div>
</div>
<div id='menu' data-value='content'>
	{{outlet sidebar-content}}
</div>