{{render "menu"}}
		<div class="policy" style='border-bottom: 1px solid #455158;'>
			<div class="container">
				<h3>About Cookies on this site</h3>
				<p>Cookies are small text entries, stored within the browser, used to improve the web services we offer.  They are used primarily to improve the interaction between yourselves and our website.
				<br /><br />
				By using cookies, we can do the following:
				<br/><br />
				<ul>
					<li>Enable our services to recognise you and your device so that you can save your personal information for further sessions without having to re-enter it</li>
					<li>Retain login information (session data), so that your login can persist across multiple sessions of use for the service.</li>
					<li>Measure statistics about how people are using our services, so that they can be optimised and tailored to the user-load and interaction</li>
				</ul>
				<br /><br />
				Without these cookies, the website and our services will assume that you are a new visitor each time you move to a new page or visit the site.
				<br /><br />
				European Union (EU) legislation requires that we let you know about our use of cookies.  Our cookie audit can be found below.
				<br /><br />
				We recommend that you allow the cookies we set, as they help us to provide a better service.  <b>We cannot identify you from these cookies, as they are anonymous.</b>
				<br />
				<br />
				</p>
				<h4>How to remove our Cookies</h4>
				<p>If you do not want to receive cookes from our website or services, or want to remove cookies, you must select cookie settings under the Internet or Privacy settings in your browser, and then add our url <a>*.intripd.com</a> to the list of websites you do not want to accept cookies from.<br /><br />
				These are specific instructions for how to remove cookies from each major browser:<br />
				<a href='http://support.google.com/?hl=en&rd=1' target='_blank'>Android</a><br />
				<a href='http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647' target='_blank'>Chrome</a><br />
				<a href='http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?redirectlocale=en-US&redirectslug=Enabling+and+disabling+cookies' target='_blank'>Firefox</a><br />
				<a href='http://support.microsoft.com/kb/196955' target='_blank'>Internet Explorer</a><br />
				<a href='http://support.apple.com/kb/PH5042' target='_blank'>Safari (Mac OSX)</a><br />
				<a href='http://support.apple.com/kb/HT1677' target='_blank'>Safari (iOS)</a><br /><br />
				<i><b>However, it is important to note that if you do this, you will be unable to use the vast majority of our services, as, due to the nature of the services we provide, we necessitate the need for cookies as part of the session.</b></i>
				<br /><br /></p>
				<h3>Cookie Audit</h3>
				<p>Below is a list of cookies currently employed by our site and services (both 1st and 3rd party), and a detailed description of each.<br /><br /></p>
				<h4>Persistent Cookies</h4><p>These cookies will store information for longer than your current browser session.  They are used for making it easier to enter repeated information, or remember preference settings in subsequent visits.</p>
				<p><b>Originator: </b>intripd.com<br />
				<b>Cookie Name: </b>TRP_COOKIENOTIF<br /><br />
				<b>TTL: </b>1 Year.<br />
				<b>Can be deleted? </b>Yes<br />
				<b>Purpose: </b>A cookie used for tracking whether a user has acknowledged the Cookie Policy notification.  Once the user acknowledges the notice, the cookie is set and the notice disappears.  Setting the cookie implies consent to using cookies to track other user data.<br /><br /><br /></p>
				<p><b>Originator: </b>intripd.com<br />
				<b>Cookie Name: </b>TRP_USERAUTHTOKEN<br /><br />
				<b>TTL: </b>Up to 1 Year.<br />
				<b>Can be deleted? </b>Yes<br />
				<b>Purpose: </b>A cookie used for storing a unique random user authentication token in the browser.  This cookie allows the user to return to the site without having to log in again (if "remember me" is selected at Login)<br /><br /><br /></p>
				<p><b>Originator: </b>intripd.com<br />
				<b>Cookie Name: </b>TRP_USERUID<br /><br />
				<b>TTL: </b>Up to 1 Year.<br />
				<b>Can be deleted? </b>Yes<br />
				<b>Purpose: </b>A cookie used for storing a unique random user ID in the browser.  This cookie allows the user to return to the site without having to log in again (if "remember me" is selected at Login)<br /><br /><br /></p>
			</div>
		</div>
{{render "footer"}}