<div class='error-page'>
	<div class='error-page-text'>
		<div class='status'>
			500  >_<
		</div>
		<div class='page-not-found'>
			Holy internal server error Batman!
			<div class='internal-error-message'>
				Error: {{message}}
			</div>
		</div>
		<div class='take-me-home'>
			<a href='/'>Take Me Home</a>
		</div>
	</div>
</div>