
		<div class="location-search">
			<input id="location-search-input" type='text' placeholder='Find Somewhere...' class="form-control" />
		</div>
		<div class="location-search-results">
		</div>
		<div class='location-search-google'>
			<img src="img/powered-by-google-on-white.png" alt='Powered By Google' />
		</div>