<div class="container">
	<button {{action 'doSomething'}}>Do A Thing</button>
	<h4>{{firstName}} {{lastName}}</h4>
	{{#if isAuthenticated}}
		<a href="#" {{action 'logout'}}>Logout</a>
	{{/if}}
</div>