<div class='row'>
	<div class='col-xs-1'></div>
	<div class='col-xs-10'>
		<table id='waypoints-table' class='table table-condensed table-striped table-hover'>
			<tbody>
				{{#each}}
				<tr {{bindAttr data-uid='uid'}} {{action 'select' this on='click'}}>
					<td>{{name}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>